body {
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte do texto */
  margin: 20px;                   /* Adiciona um espaço de 20 pixels em volta do conteúdo (margem) */
  background-color: #fff;         /* Cor de fundo branca (#fff é branco) */
  color: #006400;                 /* Cor do texto: verde escuro (dark green) */
}
